{% extends '../base.html.twig' %}

{% block title %}Edit RS{% endblock %}

{% block body %}
    <h1>Edit RS</h1>

    {{ include('rs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_r_s_index') }}">back to list</a>

    {{ include('rs/_delete_form.html.twig') }}
{% endblock %}
