{% extends '../base.html.twig' %}

{% block title %}New RS{% endblock %}

{% block body %}
    <h1>Create new RS</h1>

    {{ include('rs/_form.html.twig') }}

    <a href="{{ path('app_r_s_index') }}">back to list</a>
{% endblock %}
