<form method="post" action="{{ path('app_formation_assurer_delete', {'id': formation_assurer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation_assurer.id) }}">
    <button class="btn">Delete</button>
</form>
