{% extends 'base.html.twig' %}

{% block title %}Edit NoteHonoraire{% endblock %}

{% block body %}
    <h1>Edit NoteHonoraire</h1>

    {{ include('note_honoraire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_note_honoraire_index') }}">back to list</a>

    {{ include('note_honoraire/_delete_form.html.twig') }}
{% endblock %}
