{% extends 'base.html.twig' %}

{% block title %}New LigneNoteHonoraire{% endblock %}

{% block body %}
    <h1>Create new LigneNoteHonoraire</h1>

    {{ include('ligne_note_honoraire/_form.html.twig') }}

    <a href="{{ path('app_ligne_note_honoraire_index') }}">back to list</a>
{% endblock %}
